# Copia este archivo como .env y reemplaza con los datos de tu proyecto Supabase
VITE_SUPABASE_URL=https://flmqvgzzazhszqgutgpq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZsbXF2Z3p6YXpoc3pxZ3V0Z3BxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2ODQ3NTgsImV4cCI6MjEwNTI2MDc1OH0.O20B2CeP1xeUjw5qNUwL9dsEhZlGL5RcKHBXPVz6G6w
